:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 10px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

/* Main Styles here */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

h3 {
  font-size: 30px;
}

.video-player {
  height: 30rem;
  width: 50rem;
}

@media (max-width: 600px) {
  .video-player {
    width: 100%;
    height: auto;
  }

  .controls {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  button {
    font-size: 12px;
    padding: 6px 10px;
  }
}
